*{
    margin: 0;
    padding: 0px;
}


html,body{
    width: 100%!important;
    overflow-x:hidden!important;
}


body{
    background-color: rgb(46, 224, 185);
    background-size:cover;
    color: rgb(44, 72, 228);
    width: 100vh;
}



.portada_delante{
    background:url(../img/portada.jpg) no-repeat;
    background-size:cover;
        width: 100%;
        height: 390px;

    margin-top: -390px;
    margin-left: 110px;
    display: flex;
}


.cine{
    background-color: none; 
    background-size: cover;
    font-size: 35px;
    width: 390px;
    height: 100px;
    padding: 20px;
    margin-top: 0px;
    margin-left: 580;
    color: rgb(44, 72, 228);
}
.sesion{
    background: url(../img/img17.png)no-repeat;
    background-size: cover;
    font-size: 28px;
    width: 210px;
    height: 10px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 15px;
    color: rgb(44, 72, 228);
}
.registrate{
    background: url(../img/img17.png)no-repeat;
    background-size: cover;
    font-size: 28px;
    width: 210px;
    height: 10px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 15px;
    
}
a{
    color: rgb(44, 72, 228);    
}

.cartelera{
    display: flex;
    
    font-size: 30px;
    background: url(../img/img19.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 60px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: right;
    color: rgb(44, 72, 228);
    font-family: 'Courier New', Courier, monospace;
}
.responsive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
    margin-left: 80px;
}

.peli{
    margin-left: 24px;
}